<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>b</servlet-name>
<servlet-class>BookInfoservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>b</servlet-name>
<url-pattern>/BookInfoservlet.com</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>S</servlet-name>
<servlet-class>Search</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>S</servlet-name>
<url-pattern>/Search.com</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>u</servlet-name>
<servlet-class>Update</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>u</servlet-name>
<url-pattern>/Update.com</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>d</servlet-name>
<servlet-class>Delete</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>d</servlet-name>
<url-pattern>/Delete.com</url-pattern>
</servlet-mapping>
</web-app>
